.ThemeButton {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.2);
	transition-duration: 0.25s;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}

.ThemeButton:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.ThemeButton:active {
	background-color: rgb(255, 255, 255);
	transform: scale(1.02);
}